/mkdocs-bootstrap-elements-plugin/build
/mkdocs-bootstrap-elements-plugin/dist
/mkdocs-bootstrap-elements-plugin/mkdocs_bootstrap_elements_plugin.egg-info
/mkdocs-bootstrap-elements-plugin/MANIFEST.in